<!--
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

{% extends "base.html" %}

{% block title %}{% end %}

{% block content %}
<h2>Anti-Feature: {{ anti_feature_name }}</h2>

<p>
  There are currently {{ len(data["antiFeatures"][anti_feature]["apps"]) }}
  apps with this Anti-Feature in F-Droid. Learn more about
  <a href="https://f-droid.org/docs/Anti-Features/#{{ anti_feature }}">
  {{ anti_feature_name }} Anti-Freature</a>.
</p>

<ul>
{% for appid in data["antiFeatures"][anti_feature]["apps"] %}
  <li>
    {{ appid }} -
    <a href="https://f-droid.org/packages/{{ appid }}/">web</a> -
    <a href="https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/{{ appid }}.yml">metadata</a>
  </li>
{% end %}
</ul>
{% end %}
